<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret</key>
	<string>xybfQVuJnLwVC0hAr6R0uQlZqbWca301U29MJSV3CzCqdm6NEz</string>
	<key>API Key</key>
	<string>MYfBwuKCGPnP7phtDh8N9KNvo</string>
</dict>
</plist>
